body {
  margin-top: 60px;
}

i {
  cursor: pointer;
}

.controls i {
  display: none;
}

tr.active .controls i {
  display: inline;
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

.file-upload {
  position: relative;
  overflow: hidden;
  margin-left: 10px;
  float: right;
}

.file-upload .fileinput-button {
  cursor: pointer;
}

.file-upload input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.progress {
  margin-bottom: 0;
}

.loading-banner {
  width: 200px;
  margin: 0 auto;
  padding: 5px;
  border-width: 1px;
  border-color: #f0c36d;
  background-color: #f9edbe;
  text-align: center;
}

.new-person-panel {
  margin-bottom: 10px;
  position: relative;
}

.new-person-panel img {
  position: absolute;
  right: 5px;
  top: 10px;
}