body {
  margin-top: 60px;
}

.destroy, .edit {
  display: none;
  cursor: pointer;
}

tr.active .destroy,  tr.active .edit {
  display: inline;
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}