body {
  margin-top: 60px;
}

i {
  cursor: pointer;
}

.controls i {
  display: none;
}

tr.active .controls i {
  display: inline;
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}